body{
    background-color: rgb(239, 242, 245);
    font-family: Livvic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

.calculator-body{
    
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(90 104 119);
    margin: 0 auto;
    margin-top: 70px ;
    /* box-shadow:  inset -6px -3px 46px rgb(41 44 47), 5px 5px 8px 0px rgb(49 44 44 / 84%), 3px 5px 8px #121418; */
    
}

.calculator-key{
    border-radius: 40px
}

.screen{
    width: 220px;
    height: 60px;
    background-color: rgb(90 104 119);
    margin-left: 55px;
    margin-top: 76PX;
    border: none;
    color: white;
    text-align: end;
    font-size: 75px;
    pointer-events: none;


}

.button{
    margin-left: 13px;
    margin-top: 31px;
    

}

.operator-btn{
    margin: 3px;
    border-radius: 30px;
    border: none;
    width: 58px;
    height: 58px;
    color: white;
    background-color: #899dae;
    font-size: 24px;

}

.btn{
    margin: 3px;
    border: none;
    width: 58px;
    height: 58px;
    color: white;
    background-color: transparent;
    font-size: 24px;



}

.number{
    text-align: center;
    

}
.row{
    float: left;

}
.equla-btn{
    float: left;
}
.eqlbtn{
    margin: 3px;
    border-radius: 30px;
    border: none;
    width: 58px;
    height: 250px;
    color: white;
    background-color:  #ff7077;
    font-size: 24px;

}