body{
    background-color: rgb(239, 242, 245);
    font-family: Livvic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

.calculator-body{
    
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: #1b1b2e;
    margin: 0 auto;
    margin-top: 70px ;
}

.calculator-key{
    border-radius: 40px
}
.output{
    width: 220px;
    height: 60px;
    margin-left: 55px;
    margin-top: 76PX;
    padding-top: 80px;

}

#screen{
    width: 220px;
    height: 60px;
    background-color: #1b1b2e;
    /* margin-left: 55px;
    margin-top: 76PX; */
    border: none;
    color: white;
    text-align: end;
    font-size: 75px;
    pointer-events: none;


}

.button{
    margin-left: 13px;
    margin-top: 31px;
    

}

.operator-btn{
    margin: 3px;
    border-radius: 30px;
    border: none;
    width: 58px;
    height: 58px;
    color: white;
    background-color: #899dae;
    font-size: 24px;

}

.operator-btn:hover{
    transition-duration: 0.1s;
    background-color: #6b98be;
}

.operator-btn:active{
    transform: translateY(4px);
}

.btn{
    border-radius: 30px;
    margin: 3px;
    border: none;
    width: 58px;
    height: 58px;
    color: white;
    background-color: transparent;
    font-size: 24px;



}

.btn:hover{
    transition-duration: 0.1s;
    background-color: #424e5a;
}

.btn:active{
    transform: translateY(4px);
}

.number{
    text-align: center;
    

}
.row{
    float: left;

}
.equl-btn{
    float: left;
}
.eqlbtn{
    margin: 3px;
    border-radius: 30px;
    border: none;
    width: 58px;
    height: 250px;
    color: white;
    background-color:  #ff7077;
    font-size: 24px;

}

.eqlbtn:hover{
    transition-duration: 0.1s;
    background-color: #424e5a;
}

.eqlbtn:active{
    transform: translateY(4px);
}